body {
    background-color: white;
    font-family: 'Nunito Sans', sans-serif;
    color: #37003c;
    text-align: center;
}

.header {
    font-size: 3rem;
    font-weight: bold;
}

.menu {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 30px;
}

.btn {
    background-color: #37003c;
    color: #fff;
    padding: 20px;
    margin: 20px auto;
    width: 50%;
}

.htp-text {
    margin: 0 auto;
}